.navbar-default{
    background-color: #5f5f5f !important;
    color: #fff !important
}

.navbar-default .navbar-brand{
    color: #fff !important
}

.navbar-header{
    margin-left: 48% !important;
}

.content-wrapper{
    padding:50px;
}

.search-label{
    font-size: 28px;
}

.main-search{
    width: 80% !important;
}

.search-form{
    width: 100%;
}

hr{
    width: 70%;
    margin-bottom: 30px;
    margin-top: 30px;
}

.type-img{
    width:100px;
}

.navbar-brand{
    font-family: 'Exo', sans-serif;
    font-size: 28px;
    padding-top: 0px;
    padding-bottom: 0px;
}

#search-results{
    display: none;
}

/************************ spinner ************************/

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    display: none;
  }

  @keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
  }